@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --background: #eeca97;
  --headerBackground: #F4C766;
  --skillsBackground: #CA97EE;
  --portfolioBackground: #97BBEE;
  --socialMediaBackground: #EE9E97;
  --footerBackground: #957E5E;
  --foreground: #171717;
  --blackText: black;
  --textOnHover: white;
}

/* temp */

/* Color Classes */

.header-bg {
  background-color: var(--headerBackground);
}
.skills-bg {
  background-color: var(--skillsBackground);
}
.portfolio-bg {
  background-color: var(--portfolioBackground);
}
.social-media-bg {
  background-color: var(--socialMediaBackground);
}
.footer-bg {
  background-color: var(--footerBackground);
}
.black-bg {
  background-color: var(--blackText);
}

.flex-container-spbtwn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-container-spar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-container-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.flex-stack {
  display: flex;
}

li {
  all: unset;
}

.position-absolute {
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
}

/* Margins */

.margin-1rem {
  margin: 1rem;
}

.side-margin-5rem {
  margin: 0rem 5rem;
}

.margin-top-98vh {
  margin-top: 98vh;
}

.z-index-neg5 {
  z-index: -5;
}
.z-index-5 {
  z-index: 5;
}

/* Widths */
.width-5rem {
  width: 5rem;
}
.width-small {
  width: 90%;
}
.width-medium {
  width: 95%;
}
.width-large {
  width: 100%;
}

/* Fonts & Text */

.black-text {
  color: var(--blackText);
}

.hover-text:hover {
  color: var(--textOnHover);
}

.lily-script-font-regular {
  font-family: "Lily Script One", serif;
  font-weight: 400;
  font-style: normal;
}

.open-sans-font-regular {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.open-sans-font-bold {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.font-small {
  font-size: 14px;
}
.font-medium {
  font-size: 20px;
}
.font-large {
  font-size: 24px;
}
.font-mid-large {
  font-size: 2.5rem;
}
.font-extra-large {
  font-size: 8rem;
}

.center-text {
  text-align: center;
}

.hard-shadow {
  box-shadow: -6px 6px 0px black;
}
.hard-shadow-center {
  box-shadow: 0px 6px 0px black;
}

/* Button Component Styles */

.button-base-styles {
  border-radius: 32px;
  border: 3px solid black;
  box-shadow: -6px 6px 0px black;
}

.button-base-styles:hover {
  cursor: pointer;
  background-color: var(--socialMediaBackground);
}
.button-base-styles:active {
  transform: translateY(5px) translateX(-5px);
  box-shadow: -1px 1px 0px black;
}

.button-size-large {
  /* width: 214px;
  height: 94px; */
  width: 17rem;
  height: 7.47rem;

}

.divider-base {
  margin: .2rem 0rem;
  border-radius: 10rem;
  height: 4px;
}

.divider-container-size-100per {
  width: 100%;
}

/* Hero Section Styles */

.hero-canvas {
  /* border: 1px solid red; */
  margin-top: 10px;
  width: 100%;
  height: 100%;
}

.hero-content {
  position: absolute;
}

.hero-section {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.mini-web-pages-img {
  /* margin: 10rem; */
  margin-top: 2rem;
  width: 105%;
  /* width: 672px; */
}

.hero-intro-text {
  transform: translateY(-4rem);
}

.hero-right-side {
  margin: 5rem;
  height: 70vh;
}

.hht-container {
  transform: translateY(-4rem) translateX(8rem);
}
.hero-heading-transform {
  transform: translateX(-20rem);
}
.hero-heading-transform-small {
  transform: translateX(-8rem) translateY(-1rem);
  white-space: nowrap;
}

.hero-text-content-container {
  margin: 1rem 5rem;
}

.hero-divider-lines {
  transform: translateY(0rem);
}

.hero-button-container {
  margin-top: 2rem;
  gap: 8rem;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
